<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="dropdown">
    <%= form.label :date %>
    
    <%= form.select :date, [['Jan 1, 1997',Date.new(1997,1,1)],['Feb 18, 1998',Date.new(1998,2,18)]] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
